<div class="w-screen h-screen">
  <ngt-ambient-light [intensity]="0.5" />
  <ngt-spot-light [position]="10" [angle]="0.15" [penumbra]="1" />
  <ngt-point-light [position]="-10" />
  
  <ng-container *ngFor="let planet of planets">
    <app-orbit [radius]="planet.orbitRadius" [color]="planet.orbitColor"></app-orbit>
    <app-sphere 
      [position]="planet.position.toArray()"
      [radius]="planet.radius"
      [color]="planet.color"
      [name]="planet.name"
      [rotationSpeed]="planet.rotationSpeed"
      [orbitSpeed]="planet.orbitSpeed">
    </app-sphere>
  </ng-container>

  <ngt-orbit-controls *args="[camera, glDom]" [enableDamping]="true" />
</div>
